@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-dark: #24232c;
  --color-gray-medium: #817d92;
  --color-gray-light: #e6e5ea;
  --color-gray-darkest: #18171f;

  --color-green-theme: #a4ffaf;
  --color-red-theme: #f64a4a;
  --color-orange-theme: #fb7c58;
  --color-yellow-theme: #f8cd65;
}

/* Heading (L)
JetBrains Mono Bold
32px
43px line


Body
JetBrains Mono Bold
18px
23px line
Aliquam tincidunt mauris eu risus vestibulum auctor
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.



Heading (M)
JetBrains Mono Bold
24px
31px line
Donec nec justo eget felis facilisis fermentum Aliquam porttitor mauris sit amet orca */
