@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-dark: #24232c;
  --color-gray-medium: #817d92;
  --color-gray-light: #e6e5ea;
  --color-gray-darkest: #18171f;

  --color-green-theme: #a4ffaf;
  --color-red-theme: #f64a4a;
  --color-orange-theme: #fb7c58;
  --color-yellow-theme: #f8cd65;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
}

.range-selector {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.range-selector:focus {
  outline: none;
}

/* Chrome, Safari, Opera and Edge Chromium */
.range-selector::-webkit-slider-runnable-track {
  background-color: var(--color-green-theme);
  height: 8px;
}

.range-selector::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -10px;
  background-color: var(--color-gray-light);
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

/* Firefox */
.range-selector::-moz-range-track {
  background-color: var(--color-green-theme);
  height: 8px;
}

.range-selector::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: var(--color-gray-light);
  height: 28px;
  width: 28px;
}
