@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-dark: #24232c;
  --color-gray-medium: #817d92;
  --color-gray-light: #e6e5ea;
  --color-gray-darkest: #18171f;

  --color-green-theme: #a4ffaf;
  --color-red-theme: #f64a4a;
  --color-orange-theme: #fb7c58;
  --color-yellow-theme: #f8cd65;
}
